PUBLIC_GTAG_ID=G-XXXXXXXXXX
PUBLIC_OSRM_BASE_URL=https://router.project-osrm.org
PUBLIC_MAP_STYLE_URL=https://tiles.openfreemap.org/styles/liberty

# Geocoding API Key:
GOOGLE_API_KEY=

# MAPILLARY:
MAPILLARY_TOKEN=

# D1データベース
DATABASE_NAME=
DATABASE_ID=

# D1 Scripts APIトークン
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=